{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
<body background="{% static 'img/fondo5.jpg' %}">
	<main class="container">
		<form method="post">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="row mt-3">
				{% for field in form.visible_fields %}
				<div class="col-12" id="cuestionario">
					<div class="card">
						<div class="fieldWrapper col-12 col-md-6" id="cuestionario">
							<h6>{{ field.label }}</h6>
							{{ field }}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div align="center">
				<button class="waves-effect waves-light btn-large">Enviar</button>
			</div>
		</form>
		<br><br><br>
	</main>
</body>

<script type="text/javascript">
	$(document).ready(function(){
		$('select').formSelect();
	});
</script>
</body>
{% endblock %}